<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>OpenVPN Controller</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script defer src="https://use.fontawesome.com/releases/v6.4.0/js/all.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.3"
    integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua"
    crossorigin="anonymous"></script>
  <script>
    htmx.logger = function (elt, event, data) {
      if (console) {
        console.log(event, elt, data);
      }
    }
  </script>
</head>

<body>
  <section class="section">
    <div class="container">
      <div class="columns">
        {{ block "credentials" .}}
        <div class="column" id="credentials" hx-swap-oob="true">
          <form class="box" method="POST" hx-target="#connected" hx-post="/connect" hx-swap="innerHTML">
            <div class="field">
              <label class="label">Username</label>
              <div class="control has-icons-left has-icons-right">
                <input name="username" class="input is-success" type="text" placeholder="Text input" value="" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Password</label>
              <div class="control has-icons-left has-icons-right">
                <input name="password" class="input is-danger" type="password" placeholder="Password" value="" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">OTP</label>
              <div class="control has-icons-left">
                <input name="one-time-code" autocomplete="one-time-code" class="input is-success" type="text"
                  placeholder="123 456" value="" required>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <button type="submit" class="button is-link">Connect</button>
              </div>
            </div>
          </form>
        </div>
        {{ end }}
        <div class="column" id="status" hx-trigger="every 1s" hx-swap="innerHTML" hx-get="/status" hx-target="#status">
          {{ block "check-list-item" . }}
          {{ range .Checks }}
          <div class="box">
            <div class="icon-text">
              <span class="icon">
                <i class="fas {{ .Icon }}"></i>
              </span>
              <span>{{ .Status }}</span>
            </div>
          </div>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
</body>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box">
          {{ block "connected" . }}
          <div class="is-family-monospace is-size-7" id="connected" hx-get="/vpn" hx-trigger="every 1s"
            hx-swap="innerHTML">
            {{ . }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="box" id="log">
          <div class="is-family-monospace is-size-7" id="log" hx-swap="innerHTML" hx-get="/log" hx-trigger="every 1s">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</html>